LimoService/KeysAndSecrets.swift
LimoService/Info.plist
LimoService.xcodeproj/xcuserdata
LimoService/config/global.json

.DS_Store
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

